[user]
	email = sotaro.k@gmail.com
	name = Sotaro KARASAWA
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPHDmy2HRwZacfzoHg7jUE3nS1xVRvyBl6hb5adTDoAh
[core]
	editor = /usr/bin/vim
	excludesfile = ~/.gitignore
	pager = less -FRSX
	sharedRepository=group
	quotepath = false
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[push]
	default = tracking
[color]
	ui = auto
	branch = auto
	diff = auto
	status = auto
	interactive = auto
	grep = auto
[github]
	user = sotarok
	token = 6becede51f86c24aa3377b3467470d5b
[alias]
	co = checkout
	ci = commit
	st = status
	up = pull
	pull = pull --rebase
	llog = log --date=local
	logp = log --pretty=oneline
	logps = log --pretty=oneline --stat
    graph = log --graph --pretty='format:%h %Cblue%ai%Creset %Cgreen%an%Creset | %s %Cred%d%Creset'
	ls = log --stat          # logに変更されたファイルも一緒に出す
	lp = log -p              # diffも一緒に出す
	la = log --pretty=\"format:%ad %h (%an): %s\" --date=short  # ざっくりログ出す
	lr = log origin          # originのlog
    log-graph = log --graph --date=iso --pretty=format:'%Cgreen%h %cd %Cblue%cn %Creset%s'
	log-all = log --graph --all --color --pretty='%x09%h %cn%x09%s %Cred%d%Creset'
	#branches
	br = branch
	ba = branch -a           # originも含めた全てのbranchを表示
	bm = branch --merged     # merge済みのbranchを表示
	bn = branch --no-merged  # mergeしてないbranchを表示
	# log関連
	wc = whatchanged         # logに変更されたファイルも一緒に出す
	oneline = log --pretty=oneline
	ranking = shortlog -s -n --no-merges
	# mergeの際にconflictが起きたファイルを編集
	edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"
	# mergeの際にconflictが起きたファイルをadd
	add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
	# 削除済みのやつを削除
	rm-deleted = "!f() { git status -s | grep '^ D' | cut -d' ' -f3 ; }; git rm --cached `f`"
	# grep関連
	gr = grep
	gn = grep -n
	bull = pull
[redmine]
	apiKey = 06853c1c8bf87df64785a8b831837dacc67d79a3
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[merge "npm-merge-driver"]
	name = automatically merge npm lockfiles
	driver = npx npm-merge-driver merge %A %O %B %P
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
